# ═══════════════════════════════════════
#  LAPTOP 1 — .env
#  cp .env.example .env lalu isi
# ═══════════════════════════════════════

# ── PREFECT — Server di Laptop 3 (Tailscale: 100.71.251.60) ──
PREFECT_API_URL=http://100.71.251.60:4200/api

# ── KAFKA ──
KAFKA_BOOTSTRAP_SERVERS=localhost:9093
KAFKA_BOOTSTRAP_SERVERS_TS=100.76.33.80:9093
KAFKA_TOPIC_EARTHQUAKE=earthquake-events
KAFKA_TOPIC_LOGS=system-logs

# ── MinIO — di Laptop 2 (Tailscale: 100.122.2.11) ──
MINIO_ENDPOINT=100.122.2.11:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin12345
MINIO_SECURE=False

# ── PostgreSQL — di Laptop 3 (Tailscale: 100.71.251.60) ──
POSTGRES_DB=seismic_db
POSTGRES_USER=rosbd
POSTGRES_PASSWORD=rosbd123

# ── BMKG Scraping ──
BMKG_SCRAPE_URL=http://202.90.198.42/gempa/berita_gempa.php
BMKG_API_URL_LIVE30=https://bmkg-content-inatews.storage.googleapis.com/live30event.xml
POLLING_INTERVAL=30
SCRAPE_TIMEOUT=30
SCRAPE_DELAY=0.5

# ── Log ──
LOG_DIR=logs
