# ═══════════════════════════════════════
#  LAPTOP 3 — .env
#  cp .env.example .env lalu sesuaikan
# ═══════════════════════════════════════

# ── MinIO ──────────────────────────────
MINIO_ROOT_USER=seismic_admin
MINIO_ROOT_PASSWORD=seismic_secret_2024

# ── PostgreSQL ─────────────────────────
POSTGRES_DB=seismic_db
POSTGRES_USER=seismic_user
POSTGRES_PASSWORD=seismic_pass_2024
